#main-course {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  // Hide the duplicate 3 Program course from main subscribers
  article.post-672 {
    display: none !important;
  }

  article {
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 30%;
    margin: 0px 20px;
    transition: all 0.2s ease;
    @include rounded-corners;

    &:hover {
      transition: all 0.5s ease;
      transform: scale(1.05);
    }

    .course-content {

      img {
        float: none;
        margin: 0;
        width: 100%;
        height: auto;
        padding: 0px;
        @include rounded-corners;
      }

      h2 {
        margin: 10px 0px 11px 0px;
      }

      p.sensei-course-meta {
        padding: 0px;
        margin: 11px 0px 11px 0px;
      }

      section.entry {
        padding: 0px 25px 25px 25px;
      }

      p.course-excerpt {
        padding: 0px;
        margin: 0px;
      }
    }
  }
}

#my-courses {

  &.ui-tabs {
    position: relative;
    zoom: 1;
    width: 100%;
  }

  article {
    background-color: rgba(0, 0, 0, 0.05);
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  form#loginform input[type="text"], form#loginform input[type="password"] {
    padding: 10px;
    font-size: 18px;
  }
}

.post-540 {
    display: none !important;
}

p.lesson-meta {
  display:none !important;
}

header.archive-header {
  display: none;
}

#main-course header h2 a {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.course-author, .send-message-button {
  display: none !important;
}

section.course-meta {
    text-align: center;
}

.course button.button {
  padding: 25px 70px !important;
  font-size: 18px !important;
  background:#e57066 !important;
  box-shadow: 0px 5px 12px rgba(0,0,0,0.4) !important;
  border-radius: 2px !important;

  &:hover {
    box-shadow: 0px 2px 12px rgba(0,0,0,0.4) !important;
  }
}

.course-lessons {

  article header {
    margin-left:60px;
  }
  
  article.lesson {
    background: rgba(226, 226, 226, 0.33);
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e2e2e2;

      &:before {
        font-family: FontAwesome;
        content: "\f138";
        font-size: 2.3em;
        float:left;
    }

    h2 {
      margin:0px;

      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.6em;
      }
    }
  }
}

span.course-lesson-count {
    font-size: 25px;
}

.mycourses-box {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  padding: 30px 0px;
  border: 4px solid #4976a7;
  font-size: 24px;
}

.mycourses-box {
  .btn-mycourses a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background: #e57066;
    padding: 16px 27px;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.4);
    border-radius: 2px;
    margin-top: 20px;
    display:inline-block;
    
  }
}

#sensei-user-courses {
  .course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;

    li.course {
      width: 20%;

      .course-content {

        .course-title a {
          display: block;
          text-align: center;
          text-decoration: none;
          font-weight: bold;
          margin-bottom: 0px;
        }

        .sensei-course-meta {
          display: none;
        }

        .entry img.alignleft {
          width: 100%;
          height: auto;
          float: none;
        }
      }
    }
  }
}